registry=https://my-custom-construct-339713119950.d.codeartifact.us-east-1.amazonaws.com/npm/cc-pp/
//my-custom-construct-339713119950.d.codeartifact.us-east-1.amazonaws.com/npm/cc-pp/:always-auth=true
//my-custom-construct-339713119950.d.codeartifact.us-east-1.amazonaws.com/npm/cc-pp/:_authToken=${CODEARTIFACT_AUTH_TOKEN}